<!DOCTYPE html>
<html>
   <head>
    <meta charset="utf-8" />
    <title>Small-Internet Catalog</title>


    <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
    <script src="/pagefind/pagefind-ui.js"></script>
    <div id="search"></div>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            new PagefindUI({ element: "#search", showSubResults: true });
        });
    </script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="{{ env.baseHref }}/css/index.css"
    />
    <script src="{{ env.baseHref }}/js/index.js"></script> 
  </head>
  <body>
    <div id="navbar">
      <div class="logo"><a href="{{ env.baseHref }}/index.html">&gt; CATALOG</a></div>
      <div class="links">
        <a href="{{ env.baseHref }}/category.html">category</a>
        <a href="{{ env.baseHref }}/tags.html">tags</a>
      </div>
    </div>
    <div class="content">
    {{content | safe}}
    </div>
    <footer>
      <a href="https://gitlab.com/intrepid-pixel-society/catalog">Source</a> - Built: {{ page.date }}
    </footer>
  </body>
  </html>
