@font-face {
  font-family: "c64Mono";
  src: url("../fonts/C64_Pro_Mono-STYLE.woff2") format("woff");
}
@font-face {
  font-family: "c64";
  src: url("../fonts/C64_Pro-STYLE.woff2") format("woff");
}
@font-face {
  font-family: "Berkeley";
  src: url("../fonts/BerkeleyMono-Regular.woff2") format("woff2");
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  border: 0;
  padding: 0;
  margin: 0;
  background-color: #121212;
  color: #f8f8f2;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2rem;
  font-display: optional;
  font-family: "Berkeley", Courier, monospace;
}
h1,
h2,
h3 {
  color: #cccccc;
}
body {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  color: #abacac;
}

#navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100vw;
  background-color: #fd69b3;
  padding: 0.5rem;
}

#navbar .links {
  flex-grow: 1;
  text-align: right;
}

.logo a {
  font-weight: 900;
  color: #00ff06;
}

.links a {
  color: #0c657b;
}

.content {
  max-width: 80rem;
  margin: auto;
  background-color: #24272a;
  min-height: 100vh;
  padding: 4rem 2rem 2rem 2rem;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  width: 100vw;
  background-color: aliceblue;
  text-align: center;
  font-size: 0.7rem;
  justify-content: center;
}

footer a {
  color: rgb(255, 0, 174);
  text-decoration: none;
  margin: 0 0.25rem 0 0.25rem;
}

footer a:hover {
  color: #101010;
}

code {
  display: inline-block;
  border-radius: 0.3rem;
  background-color: rgb(187, 183, 183);
  border: black 1px solid;
  padding: 1rem;
  width: 100%;
}
img {
  width: 100%;
}

.content a {
  color: #11a8cd;
}

.logo {
  font-weight: 900;
  text-transform: uppercase;
}
.logo a {
  text-decoration: none;
}

#search {
  background-color: #f8f8f2;
  --pagefind-ui-scale: 0.7;
  --pagefind-ui-primary: #034ad8;
  --pagefind-ui-text: #393939;
  --pagefind-ui-background: #ffffff;
  --pagefind-ui-border: #eeeeee;
  --pagefind-ui-tag: #eeeeee;
  --pagefind-ui-border-width: 2px;
  --pagefind-ui-border-radius: 8px 8px 0 0;
  --pagefind-ui-image-border-radius: 8px;
  --pagefind-ui-image-box-ratio: 3 / 2;
  --pagefind-ui-font: sans-serif;
}
